
<button mat-icon-button color="primary" (click)="addScore(true)" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
        matBadge="{{scores.numberOfLikes}}" matBadgePosition="after" matBadgeColor="accent">
  <mat-icon [ngStyle]="{'color': userStateScore.likeBtnColor}">thumb_up</mat-icon>
</button>

<button mat-icon-button color="primary" (click)="addScore(false)" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
        matBadge="{{scores.numberOfDislikes}}" matBadgePosition="after" matBadgeColor="accent">
  <mat-icon [ngStyle]="{'color': userStateScore.dislikeBtnColor}">thumb_down</mat-icon>
</button>





