<div class="comment">
  <app-comments
    *ngFor="let currentComment of commentDto.comments"
    [comment]="currentComment" >
  </app-comments>

  <mat-paginator
    (page)="onChangePage($event)"
    [length]="commentDto.numberOfPages"
    [pageSize]="commentDto.numberOfComments"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page">
  </mat-paginator>

</div>

<!--<form class="add-comment-form" [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput formControlName= "comment">
  </mat-form-field>

  <button mat-icon-button color="primary" type="submit" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>send</mat-icon>
  </button>

</form>-->

<form class="add-comment-form">
  <mat-form-field appearance="fill">
    <mat-label>Add a comment</mat-label>
    <input matInput [(ngModel)]="commentText" name="comment" size="500">
  </mat-form-field>

  <button mat-icon-button color="primary" (click)="addComment(1)" class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon">
    <mat-icon>send</mat-icon>
  </button>

</form>
