<div class="post-create-form">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="post-description">
      <label></label>
      <input type="text" formControlName ="postText">
    </div>
    <div class="upload-file">
      <input name="myFile" type="file" (change)="selectFile($event)">
    </div>

    <div>
      <button type="submit">Submit</button>
    </div>
  </form>


</div>

<hr>

<div>
  <input type="file" class="file-input"
         (change)="onFileSelected($event)" #fileUpload>

  <div class="file-upload">

    {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn"
            (click)="fileUpload.click()">
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>
</div>
