<div class="container">
  <div class="row">
    <!--<div class="card-body">
      <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
    </div>-->
    <mat-toolbar color="primary">
      <span>Inst client</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>

    </mat-toolbar>
    <app-post-list></app-post-list>

  </div>
</div>
