.comment-card{

}
.example-header-image {
  /*background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');*/
  background-size: cover;
}

.comment-date{
 display: block;
  float: right;
}

